.carousel {
    margin-top: 3vh;
    position: relative;
    margin-left: 14vw;
    width: 1000px;
    overflow: hidden;
    text-align: center;
}

.carousel-button {
    background: none;
    border: none;
    font-size: 2rem;
    cursor: pointer;
    margin: 0 20px;
}

.carousel-slide {
    position: relative;
    width: 100px;
    height: 55vh;
}

.carousel-image {
    width: 70vw;
    border-radius: 20px;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    transition: opacity 1s ease-in-out;
}

.carousel-image.active {
    opacity: 1;
}
