.carousel {
    margin-top: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.carousel-button {
    background: none;
    border: none;
    font-size: 2rem;
    cursor: pointer;
    margin: 0 20px;
}

.carousel-slide {
    text-align: center;
    width: 100vw;
}

.carousel-slide img {
    width: 70vw;
    height: 67vh;
    border-radius: 20px;
}