.imglogin{
    width: 90vw;
    height: 90vh;
    opacity: 0.5; 
    }



    .todossss{
display: flex;
align-items: center;
justify-content: center;
flex-direction: column;
background-color: black;
height: 100vh;

}

.gfd{
background-color: black;

}

img{
height: 20vh;
background-color: black;

}
.login{
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
background-color: #161724;
width: 40vw;
height: 60vh;
border-radius: 35PX;

}

.email {
    background-color: #161724;

}


.senha{
    background-color: #161724;
color: white;
margin-top: 80px;

}
.inputss{
background-color: black;
color: white;
height: 10vh;
width: 30vw;
font-size: x-large;
border-radius: 20px;
}

.textologin{


    background-color: #161724;


    }

.textologinemail{

color: white;
background-color: #161724;


}



.inputssss{
    background-color: black;
    color: white;
    height: 10vh;
    width: 30vw;
    border-radius: 20px;
    font-size: x-large;

    }

    .enter{
background-color: black;

    }

    .enterlogin{
margin-top: 20px;
font-size: xxx-large;
height: 8vh;
width: 30vw;
background-color: white;
border-radius: 15px;
    }