* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  text-align: center;
  font-family: 'Arial', sans-serif;
  background-color: #4D616E;
  color: #fff;
}

header {
  nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 20px 50px;
    background-color: #1b1e2f;
  }

  .logo {
    display: flex;
    align-items: center;

    img {
      height: 0px;
      padding: 10px ;
    }
  }

  .menu-icon {
    display: flex;
    align-items: center;
    color: #fff;
    font-size: 20px;
  }
}


.product {
  display: flex;
  justify-content: space-around;
  padding: 0px 20px;
  background-color: #4a5a67;
}

.product-info {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.product-info img {
  max-width: 500px;
  border-radius: 10px;
}

.product-details {
  text-align: center;
  margin-top: 10px;
}

.product-details p {
  margin: 5px 0;
}

.description {
  max-width: 400px;
  text-align: left;
}

.description h2 {
  font-size: 28px;
  color: #E5E5E5;
}

.description p {
  margin: 10px 0;
  font-size: 16px;
  color: #C5C5C5;
}


.hero {
  text-align: center;
  padding: 40px 20px;
}

.hero h1 {
  font-size: 36px;
  color: #E5E5E5;
}

.hero p {
  font-size: 18px;
  margin: 20px 0;
  color: #C5C5C5;
}

.site-types {
  display: flex;
  justify-content: center;
  gap: 10px;
  flex-wrap: wrap;
}

.um {
  width: 20px;
}

.site-types h2 {
  background-color: #5A6A75;
  color: white;
  font-size: 15px;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
}

.button-compre {
  display: inline-block;
  margin-top: 20px;
  padding: 15px 30px;
  background-color: #2670E0;
  color: white;
  text-decoration: none;
  border-radius: 5px;
}

.container {
  background-color: rgb(22, 48, 67);
  display: flex;
  justify-content: space-around;
  padding: 20px 1px;
}

.titulo {
  font-size: 25px;
}

.meios-contato, .info, .outros {
  text-align: center;
}

.meios-contato p, .info p, .outros p {
  margin: 10px 0;
}


.whatsapp {
  height: 20px;
}

.telefone {
  height: 20px;
}

.instagram {
  height: 20px;
}



.ds{
margin-top: 40px;

}

.precos{

  background-color: rgb(96,111,125);
  border-radius: 30px;
  height: 200px;
  width: 300px;
  margin-left: 150px;
  
  }
  .precos2{
    
    background-color: rgb(96,111,125);
    border-radius: 30px;
    height: 200px;
    width: 300px;
    margin-left: 120px;
    
      }
  
      .texto{
        display: flex ;
        padding:12px ;
        align-items: center;
        justify-content: center;
      font-size:xx-large;
      }
      
      .button1{
      background-color: rgb(18,50,217);
      border-radius: 20px;
      margin-top: 20px;
      color: white;
      width: 150px;
      height: 50px;
      font-size: large;
      
      }

.cardscompleto {
  display: flex;
  flex-direction: column;
  margin-right: 100px;
}

.cardspart1{
flex-direction:row ;
display: flex;
margin-top: 20px;
}

.cardspart2{
  flex-direction:row ;
  display: flex;
  padding: 60px 0px;
}
  
  

 .texto2{
margin-top: 30px;

 }


 .produtos{
display: flex;
align-items: center;
justify-content: center;
flex-direction: row;
 }

 .imgprodutos{
width: 305px;
height: 260px;
margin-top: 40px;
border-radius: 70px;
margin-left: 30px;
 }

.textof{
font-size: xx-large;

}

.textoprodutos{
font-size: 50px;
padding: 80px;
}

.pessoa {
width: 30px;
}


.fds{
  background-color: #163043 ;
width: 1000px;
height: 390px;
margin-top: 90px;
border-radius: 60px;
}

h2{
font-size: 36px;
padding: 40px;
}

.reviews h1{
font-size: xxx-large;
}

.reviews p{
font-size:xxx-large;

}

.sobre {

  .texto1 {
  display: flex;
  flex-direction: row;
  margin-left: 100px;
  font-size: 25px;
  .img {
  display: flex;
  width: 20px;
  height: 30px;
  }
  }
  .textop{
  margin-left: 70px;
  background-color: #163043 ;
  width: 900px;
  height: 250px;
  margin-top: 90px;
  border-radius: 60px;
  
  }
  
  .textops{
  font-size: xx-large;
  padding: 40px;
    }
  
  }

body {
font-family: Arial, sans-serif;
background-color: #4a5a67;
color: white;
text-align: center;
}
.reviews-section {
padding: 20px;
}
.reviews-section h1 {
font-size: 5em;
margin-bottom: 10px;
}
.reviews-section p {
font-size: 2em;
margin-bottom: 20px;
}
.reviews-container {
display: flex;
justify-content: center;
gap: 50px;
}
.review {
background-color: #64717e;
padding: 15px;
border-radius: 40px;
width: 250px;
text-align: left;
height: 260px;

}
.review h2 {
font-size: 20px;

}
.stars {
color: gold;
justify-content: space-between;
text-align: center;
}
.review p {
font-size: 17px;
color: black;
background-color: #97a4b1;
border-radius: 10px;
text-align: center;
}

.tudo{
text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
font-family: "Limelight", sans-serif;
font-weight: 400;
font-style: normal;
font-size: 60px;
}

.imgg{
height: 200px;
width: 500px;
margin-right: 50px;
border-radius: 30px;
margin-left: 200px
}