*{
    margin: 0;
    background-color: #e2d7d2;
  }
  
  .cardsm {
  
    display: flex;
    height: 500px;
    width: 250px;
    gap: 5vw;
    border-radius: 30px;
    margin-left: 8vw;
    background-color: #97796F;
    margin-top: 30px;
  
    
  }
    .textom{
      margin-left: 3vw;
      display: flex;
    flex-direction: column;
    padding: 50px;
    font-size: x-large;
    border-radius: 30px;
    align-items: center;
    justify-content: center;
    background-color: #97796F;
      .imagm {
        margin-bottom: 1vh;
        height: 21vh;
        width: auto;
        border-radius: 30px;
    
      }
  }
  .texto2m{
    display: flex;
  flex-direction: column;
  padding: 50px;
  font-size: x-large;
  border-radius: 30px;
  align-items: center;
  justify-content: center;
  background-color: #97796F;
    .imagm {
      margin-bottom: 1vh;
      height: 21vh;
      width: auto;
      border-radius: 30px;
  
    }
  }
  .texto3m{
    display: flex;
  flex-direction: column;
  padding: 50px;
  font-size: x-large;
  border-radius: 30px;
  align-items: center;
  justify-content: center;
  background-color: #97796F;
    .imagm {
      margin-bottom: 1vh;
      height: 21vh;
      width: auto;
      border-radius: 30px;
  
    }
  }
  
  .flm{
  font-size: xxx-large;
    display: flex;
  align-items: center;
  justify-content: center;
  }
  
  
  .setabaixom{
   display: flex;
   margin-left: 48vw;
   height: 35px;
  width: 35px;
  }
  
  .maos1m{
    display: flex;
    margin-left: 65px;
    width: 90vw;
    border-radius: 40px;
  }
  
  .categoriam{
  margin-top: 40px;
  }
  
  .categoriasm {
   display: flex;
   justify-content: center;
   gap: 100px;
  }
  
  .textoanelm {
    font-size: xx-large;
    color: black;
    text-decoration: none;
    
  }
    
  .categoriaanelm {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 12vw;
    outline: none;
    text-decoration: none;
    background-color: transparent;
    transition: transform 1s;
    cursor: pointer;
    .imagg2m {
      border-radius: 20px;
      margin-left: 10px;
      width: 12vw;
    }
    .textoanelm {
      text-align: center;
    }
  }
  
  .categoriapulseiram {
    display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 12vw;
  outline: none;
  text-decoration: none;
  transition: transform 1s;
  cursor: pointer;
  .imagg2m {
    margin-left: 10px;
    border-radius: 20px;
    width: 12vw;
  }
  .textoanelm {
    text-align: center;
  }
  }
  
  .categoriabrincosm {
  display: flex;
  align-items: center;
  flex-direction: column;
  align-items: center;
  width: 12vw;
  outline: none;
  text-decoration: none;
  transition: transform 1s;
  cursor: pointer;
  .imagg3m {
    margin-left: 10px;
    border-radius: 20px;
    width: 12vw;
  }
  .textoanelm {
    text-align: center;
  }
  }
  
  .categoriacolarm {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 12vw;
    outline: none;
    transition: transform 1s;
    text-decoration: none;
    .imagg4m {
      margin-left: 10px;
      border-radius: 20px;
      width: 12vw;
  }
  .textoanelm {
    text-align: center;
  }
  }
  
  .categoriaanelm:hover {
      transform: scale(1.1,1.1);
  }
  .categoriabrincosm:hover {
    transform: scale(1.1,1.1);
  }
  .categoriacolarm:hover {
    transform: scale(1.1,1.1);
  }
  .categoriapulseiram:hover {
    transform: scale(1.1,1.1);
  }
  
  .categoriah1m{
    font-size: xxx-large;
    display: flex;
  align-items: center;
  justify-content: center;
  }
  .categoriah2m{
    display: flex;
    font-size: large;
  align-items: center;
    justify-content: center;
   }
  
   .fotocimasobrenosm {
    padding: 100px 0px;
    display: flex;
    .realcem {
      display: flex;
      margin-left: 65px;
      width: 90vw;
      border-radius: 39px;
    }
   }
  
   .sobrenosm {
     display: flex;
    margin-left: 150px;
    flex-direction: row;
    gap: 15vw;
  } 
  
  .maocaram {
    width: 20vw;
    height: auto;
    border-radius: 20px;
  }
   
  .comentariom {
    padding: 30px 100px;
    .categoriah12 { 
      display: flex;
        font-size: xxx-large;
      text-align: center;
      align-items: center;
      justify-content: center;
    }
  }
  
  .caixacomentm {
    display: flex;
  }
  
  .inputsssm {
  margin-top: 5vh;
  border-radius: 80px;
  background-color: white;
  width: 18vw;
  height: 5vh;
  }
  
  .comentariossdm {
    display: flex;
    padding: 30px 100px;
    flex-direction: column;
    margin-right: 20px;
  }
  
  .butttonm {
    align-self: flex-start;
    border-radius: 30px;
    width: 5vw;
    margin-top: 0.5vh;
    height: 4vh;
    background-color: lightgray;
    margin-left: 13.5vw;
  }
  
  
  .brunom {
   background-color: lightgray;
   border-radius: 40px;
   width: 19vw;
   height: 34vh;
   text-align: center;
   font-size: x-large;
  }
  
  .elogiom {
    background-color: white;
    margin-top: 30px;
    border-radius: 30px;
    margin-left: 26px;
    width: 15vw;
    height: 17vh;
  }
  
  .comentariosm {
    display: flex;
    flex-direction: row;
    gap: 100px
  }