.pagina-cadastrars {
    padding: 50px;
    background-color: #E6E1DE;

    
    .forms {
        padding: 130px 200px;
        display: flex;
        flex-direction: column;
        gap: 10px;

        > div {
            display: flex;
            align-items: center;

            label {
                display: inline-block;
                width: 200px;
                text-align: right;
                padding-right: 10px;
                font: 400 24px Arial;
            }

            input {
                font: 400 24px Arial;
                padding: 5px;
                border: 1px solid #000;
                width: 38vw;
            }
        }
    }

    button {
        font: 400 24px Arial;
        padding: 20px;
    }
}
.rodape {
    background-color: #E6E1DE;
    margin-top: 10px;
}