.carousel {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.carousel-button {
    background: none;
    border: none;
    font-size: 2rem;
    cursor: pointer;
    margin: 0 20px;
}

.carousel-slide {
    text-align: center;
    width: 1200px;
}

.carousel-slide img {
    width: 1100px;
    height: 500px;
    border-radius: 8px;
}
