*{
  margin: 0;
}

.sitetodo {
background-color: #E6E1DE;
}

.cards {
  display: flex;
  height: 50vh;
  width: 25vw;
  gap: 5vw;
  border-radius: 30px;
  margin-left: 8vw;
  margin-top: 30px;
}
  .texto{
    margin-left: 3vw;
    display: flex;
  flex-direction: column;
  padding: 50px;
  font-size: x-large;
  border-radius: 30px;
  align-items: center;
  justify-content: center;
  background-color: #97796F;
    .imag {
      margin-bottom: 1vh;
      height: 20vh;
      width: 15vw;
      border-radius: 30px;
    }
}
.texto2{
  display: flex;
flex-direction: column;
padding: 50px;
font-size: x-large;
border-radius: 30px;
align-items: center;
justify-content: center;
background-color: #97796F;
  .imag {
    margin-bottom: 1vh;
    height: 20vh;
    width: 15vw;
    border-radius: 30px;

  }
}
.texto3{
  display: flex;
flex-direction: column;
padding: 50px;
font-size: x-large;
border-radius: 30px;
align-items: center;
justify-content: center;
background-color: #97796F;
  .imag {
    margin-bottom: 1vh;
    height: 20vh;
    width: auto;
    border-radius: 30px;

  }
}

.fl{
font-size: xxx-large;
  display: flex;
align-items: center;
justify-content: center;
}


.setabaixo{
 display: flex;
 margin-left: 48vw;
 height: 35px;
width: 35px;
}

.maos1{
  display: flex;
  padding: 5vh 0px;
  .maosss {
    margin-left: 65px;
    width: 90vw;
    border-radius: 40px;
  }
}

.categoria{
margin-top: 40px;
}

.likm {
  color: black;
}



.categorias {
 display: flex;
 justify-content: center;
 gap: 100px;
}

.textoanel {
  font-size: xx-large;
  color: black;
  text-decoration: none;
  
}
  
.categoriaanel {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 12vw;
  outline: none;
  text-decoration: none;
  background-color: transparent;
  transition: transform 1s;
  cursor: pointer;
  .imagg2 {
    border-radius: 20px;
    margin-left: 10px;
    width: 12vw;
  }
  .textoanel {
    text-align: center;
  }
}

.categoriapulseira {
  display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
width: 12vw;
outline: none;
text-decoration: none;
transition: transform 1s;
cursor: pointer;
.imagg2 {
  margin-left: 10px;
  border-radius: 20px;
  width: 12vw;
}
.textoanel {
  text-align: center;
}
}

.categoriabrincos {
display: flex;
align-items: center;
flex-direction: column;
align-items: center;
width: 12vw;
margin-top: 20px;
outline: none;
text-decoration: none;
transition: transform 1s;
cursor: pointer;
.imagg3 {
  margin-left: 10px;
  border-radius: 20px;
  width: 12vw;
}
.textoanel {
  text-align: center;
}
}

.categoriacolar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 12vw;
  outline: none;
  transition: transform 1s;
  text-decoration: none;
  .imagg4 {
    margin-left: 10px;
    border-radius: 20px;
    width: 12vw;
}
.textoanel {
  text-align: center;
}
}

.categoriaanel:hover {
    transform: scale(1.1,1.1);
}
.categoriabrincos:hover {
  transform: scale(1.1,1.1);
}
.categoriacolar:hover {
  transform: scale(1.1,1.1);
}
.categoriapulseira:hover {
  transform: scale(1.1,1.1);
}

.categoriah1{
  font-size: xxx-large;
  display: flex;
align-items: center;
justify-content: center;
}
.categoriah2{
  display: flex;
  font-size: large;
align-items: center;
  justify-content: center;
 }

 .fotocimasobrenos {
  padding: 100px 0px;
  display: flex;
  .realce {
    display: flex;
    margin-left: 65px;
    width: 90vw;
    border-radius: 39px;
  }
 }

 .sobrenos {
   display: flex;
  margin-left: 150px;
  flex-direction: row;
  gap: 15vw;
} 

.maocara {
  width: 20vw;
  height: auto;
  border-radius: 20px;
}
 
.comentario {
  padding: 30px 100px;
  .categoriah12 { 
    display: flex;
      font-size: xxx-large;
    text-align: center;
    align-items: center;
    justify-content: center;
  }
}

.caixacoment {
  display: flex;
}

.inputsss {
margin-top: 5vh;
border-radius: 80px;
background-color: white;
width: 18vw;
height: 5vh;
}

.comentariossd {
  display: flex;
  padding: 30px 100px;
  flex-direction: column;
  margin-right: 20px;
}

.buttton {
  align-self: flex-start;
  border-radius: 30px;
  width: 5vw;
  margin-top: 0.5vh;
  height: 4vh;
  background-color: lightgray;
  margin-left: 13.5vw;
}


.bruno {
 background-color: lightgray;
 border-radius: 40px;
 width: 19vw;
 height: 34vh;
 text-align: center;
 font-size: x-large;
}

.elogio {
  background-color: white;
  margin-top: 30px;
  border-radius: 30px;
  margin-left: 26px;
  width: 15vw;
  height: 17vh;
}

.comentarios {
  display: flex;
  flex-direction: row;
  gap: 100px
}
